<div class="repo-display">
  <ul class="repo-list">
    <li>
      <div class="repo-details-right">{{language}}
        <a class="stargazers" href="#">{{stargazers_count}}</a>
        <a class="forked" href="#">{{forks}}</a>
      </div>
      <h3>
        <a href="#">{{name}}</a>
      </h3>
      <p>Last updated: {{updated_at}}</p>
    </li>
  </ul>
  <div class="clear-repo"></div>
</div>  