
<div class="repo-display">
  
  <div class="repo-left">
    <h3><a href="{{html_url}}">{{name}}</a></h3>
    <h4>{{description}}</h4>
    <h5>Last updated: {{updated_at}}</h5>
  </div>
  
  <div class="repo-right">
    <div class="repo-stats">
      <ul>
        <li><h5><span class="octicon octicon-git-branch"></span> {{forks}}</h5></li>
        <li><h5><span class="octicon octicon-star"></span> {{stargazers_count}}</h5></li>
        <li><h5 class="language">{{language}}</h5></li>
      </ul>
    </div>  
  </div>

</div>